<div
  class="h-lvh flex"
>
  <aside
    class="flex flex-col items-center h-full w-2/3"
  >
    <img
      src="/circle-bg.svg"
      alt="background-image"
      class="index-1 translate-y-[-5%] z-0 relative"
    >

    <div
      class="z-10 absolute flex flex-col items-center translate-y-[18%] gap-4"
    >
      <img
        src="/logo-icon.svg"
        alt="logo icon image"
      >

      <div
        class="flex flex-col items-center text-center gap-2"
      >
        <span
          class="text-3xl font-semibold text-[#101828]"
        >
          Sign in to your account
        </span>
        <span
          class="text-[#475467] text-sm"
        >Enter your information to sign in
        </span>
      </div>

      <div
        class="flex flex-col gap-3"
      >
        @for(prop of inputFieldsProperties; track prop.label){
          <app-input-field
            [label] = "prop.label"
            [inputPlaceholder]="prop.placeholder"
            [inputType]="prop.type"
          ></app-input-field>
        }
      </div>
      <div
        class="flex justify-between gap-10"
      >
        @for (prop of buttonProperties; track prop.name){
          <app-button
            [buttonName]="prop.name"
            [backgroundColor]= "prop.backgroundColor"
          ></app-button>
        }
      </div>

      <span
        class="text-sm "
      >
        Don't have an account?
        <a
          routerLink="/sign-up"
          class="text-blue-700 font-semibold"
        > Sign in here. </a>
      </span>
    </div>


  </aside>

  <aside
    class="h-full w-1/3 flex p-2 "
  >
    <img
      class="object-cover rounded-xl"
      src="/sign-in-bg.svg"
      alt="background image"
    >
  </aside>
</div>
